/**
*** Configuração de cores do cabeçalho da app
**/
.be-top-header .navbar-header .navbar-brand {
	background-position: center;
}
.app-bar {
	background-color: #FFFFFF;
}
.navbar-header.app-bar {
	background-color: #FFFFFF;
}
.page-title.app-bar > span {
	/*color: #FFFFFF;*/
}
.material-icons.middle {
    vertical-align: middle;
}
.menu-head:hover {
    color: #FB8C00;
    cursor: pointer;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.logo-top-header > app-logo > img {
	max-width: 105px;
	overflow: hidden;
}
.material-icons.social {
    color: #FB8C00;
}